<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>NINA'S Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="[% uri_for('/static/js/jquery-1.9.1.min.js') %]"></script>
    <script type="text/javascript" src="[% uri_for('/static/js/jquery.masonry.min.js') %]"></script>
    <script type="text/javascript" src="[% uri_for('/static/js/jquery.balloon.min.js') %]"></script>
    <script type="text/javascript" src="[% uri_for('/static/js/jquery-ui.js') %]"></script>
    <script type="text/javascript" src="[% uri_for('/static/js/bootstrap.min.js') %]"></script>
    <link rel="stylesheet" href="[% uri_for('/static/css/bootstrap.decadent.css') %]">
    <link rel="stylesheet" href="[% uri_for('/static/css/jquery-ui.css') %]">
    <style>
        .item {
          margin: 5px;
          width: 128px;
          height: 128px;
          float: left;
          border: 1px solid #ccc;
          background: #eee;
          box-shadow: 0 2px 1px #eee;
          overflow:hidden;
        }
        img {
            vertical-align: bottom;
        }
        #container {
        padding: 10px;
        background-color: #ccc;
        }
        label {
            display: inline-block;
            width: 5em;
        }
    </style>
    <script type="text/javascript">
        $(function() {
            var container = $('#container');
            container.imagesLoaded( function() {
                container.masonry({
                    itemSelector : '.item',
                    isAnimated: true
                });
                // $(document).tooltip();
            });
	});

        $(document).ready(function() {
            $.ajax({
                url: '/json',
                type: 'GET',
                dataType: 'json',
                success: function(data, textStatus, jqXHR) {
                    var container = $('#container');
                    $.each(data, function() {
                        var html = $('<div class="item tTip"><a href="' + this.affiliateUrl + '" title="' + this.itemName + '"><img src="' + this.mediumImageUrls[0].imageUrl[0] + '"/></a></div>');
                        container.append(html);
                    });
                    $('#container').masonry('reload');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                },
                complete: function(jqXHR, textStatus) {
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <header><img src="/static/img/logo.png" alt="Nina's selecion!" width="487" height="100" /></header>
        <div id="container"></div>
        <footer>Powered by <a href="http://amon.64p.org/">Amon2::Lite</a></footer>
    </div>
</body>
</html>

